<h1>Question</h1>

<%= @question.question %>
<br>
<br>
<%= link_to "Edit Question", edit_question_path(@question), class: "btn btn-primary"%>
<%= link_to "Delete Question", question_path(@question), method: "delete", class: "btn btn-danger"%>
<h1>Answers</h1>
<ul id="answers">
  <% @question.answers.each do |answer| %>
    <li>
      <%= answer.answer + " -" + User.find(answer.user_id).email %>
    </li>

  <%end%>
</ul>
<br>
<br>
<%= form_for([@question, @answer], remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :answer %>
    <%= f.text_field :answer %>
  </div>
    <%= f.submit(:class => "btn btn-primary") %>
<% end %>

