<% @answer = Answer.find(params[:answer_id]) %>
<% @question = Question.find(params[:question_id]) %>
$('#answers').empty();
<% @question.answers.top.each do |answer| %>

  $('#answers').append('<%= answer.votes.count %>' +
    '<span id="<%=answer.id%>">' +
    ' '+
    '<%= link_to "+", question_answer_votes_path(@question.id, answer.id), remote: true, method: "post", class: "btn-md btn-success"%>' +
    ' '+
    '<%= answer.answer %>' +
    ' -' +
    '<%= User.find(answer.user_id).email %>' +
    '<%= link_to "correct!", question_answer_path(@question.id, answer.id), remote: true, method: "patch", class: "btn-md btn-primary"%>' +
    '</span>' +
    '<br><br>');
<%end%>
